.file-uploader-drag-drop-container {
    width: 80%;
    height: 70%;
    margin-top:0px;
}

.file-uploader-drag-drop-container label {
    height: 100%;
    font-size:30px;    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.file-uploader-drag-drop-container span {
    font-size: 20px;
    margin-top: 100px
}

.file-uploader-drag-drop-container svg {
    transform: scale(5.0);
    margin-top: 100px;
    margin-left: 33px;
}

.file-types {
    display: none;
}