.delete-all-image-button-container {
    position: absolute;
    top: 110px;
    right: 480px;
}

@media (min-width: 1401px) and (max-width: 1920px) {
    .delete-all-image-button-container {
        right: 625px;
    }
}