.images-count-container {
    position: absolute;
    top: 160px;
    right: 480px;
}

.images-count-container button {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 1401px) and (max-width: 1920px) {
    .images-count-container {
        top: 170px;
        right: 625px;
    }
}